.landingControls {
  display: flex;
  flex-direction: column;
  width: 128px;
}

.landingPlay {
  padding: 16px;
}

.landingPlayMuted {
  margin-top: 1em;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}
